/**
 * ui Inventory
 */
.uiInventory {
  border-right: 8px solid #3c3f4c; }
  .uiInventory > .grid {
    width: 664px !important;
    height: 522px !important; }
    .uiInventory > .grid .item {
      border: 4px solid rgba(242, 245, 245, 0.35);
      margin: 0 8px 8px 0 !important; }
      .uiInventory > .grid .item.eq {
        display: none; }
      .uiInventory > .grid .item[data-quality="1"] {
        border-color: rgba(63, 167, 221, 0.35); }
      .uiInventory > .grid .item[data-quality="2"] {
        border-color: rgba(255, 235, 56, 0.35); }
      .uiInventory > .grid .item[data-quality="3"] {
        border-color: rgba(162, 78, 255, 0.35); }
      .uiInventory > .grid .item[data-quality="4"] {
        border-color: rgba(255, 105, 66, 0.35); }
      .uiInventory > .grid .item.fdNoRelevant {
        opacity: 0.35; }
      .uiInventory > .grid .item:nth-child(8n) {
        margin: 0 8px 8px 0 !important; }
  .uiInventory .tooltip {
    z-index: 900; }
    .uiInventory .tooltip[data-quality="1"] {
      border-color: rgba(63, 167, 221, 0.35) !important; }
    .uiInventory .tooltip[data-quality="2"] {
      border-color: rgba(255, 235, 56, 0.35) !important; }
    .uiInventory .tooltip[data-quality="3"] {
      border-color: rgba(162, 78, 255, 0.35) !important; }
    .uiInventory .tooltip[data-quality="4"] {
      border-color: rgba(255, 105, 66, 0.35) !important; }
  .uiInventory > .stats {
    width: 316px !important;
    height: 557px !important; }

.uiTooltipItem .tooltip[data-quality="1"] {
  border-color: rgba(63, 167, 221, 0.35) !important; }

.uiTooltipItem .tooltip[data-quality="2"] {
  border-color: rgba(255, 235, 56, 0.35) !important; }

.uiTooltipItem .tooltip[data-quality="3"] {
  border-color: rgba(162, 78, 255, 0.35) !important; }

.uiTooltipItem .tooltip[data-quality="4"] {
  border-color: rgba(255, 105, 66, 0.35) !important; }

/**
 * PixelDoll Buttons
 */
.pixelDoll-Button {
  width: 64px;
  height: 64px;
  top: 0px;
  left: -64px;
  background-color: #373041;
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: pointer; }
  .pixelDoll-Button:hover {
    background: #3c3f4c; }
  .pixelDoll-Button.pdActive {
    background-color: #3c3f4c;
    width: 64px; }
    .pixelDoll-Button.pdActive:hover {
      background-color: #3c3f4c; }
  .pixelDoll-Button.pdCharacter {
    background-image: url(http://dev.silencesys.com/isleward/pixelDoll-icons.png?v=2.0.4);
    background-position: 0px -128px; }
  .pixelDoll-Button.pdStats {
    background-image: url(http://dev.silencesys.com/isleward/pixelDoll-icons.png?v=2.0.4);
    background-position: 0px -64px;
    top: 74px; }
  .pixelDoll-Button.pdFilters {
    background-image: url(http://dev.silencesys.com/isleward/pixelDoll-icons.png?v=2.0.4);
    background-position: -1px 0px;
    top: 148px; }

/**
 * PixelDoll UI
 */
.uiInventory > .pixelDoll {
  position: absolute;
  width: 300px;
  height: 557px;
  margin-right: 32px;
  position: absolute;
  background-color: #3c3f4c;
  text-align: center;
  left: 16px; }
  .uiInventory > .pixelDoll .pdItem {
    width: 64px;
    height: 64px;
    float: left;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    border: 4px solid #505360; }
    .uiInventory > .pixelDoll .pdItem:hover {
      background-color: rgba(192, 195, 207, 0.1); }
    .uiInventory > .pixelDoll .pdItem[data-slot='head'] {
      top: 16px;
      left: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='neck'] {
      top: 132px;
      left: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='chest'] {
      top: 246px;
      left: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='hands'] {
      top: 360px;
      left: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='twoHanded'] {
      top: 474px;
      left: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='waist'] {
      top: 16px;
      right: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='legs'] {
      top: 132px;
      right: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='feet'] {
      top: 246px;
      right: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='finger'] {
      top: 360px;
      right: 0; }
    .uiInventory > .pixelDoll .pdItem[data-slot='trinket'] {
      top: 474px;
      right: 0; }
    .uiInventory > .pixelDoll .pdItem[data-quality='0'] {
      background-color: rgba(80, 83, 96, 0.1); }
    .uiInventory > .pixelDoll .pdItem[data-quality='1'] {
      background-color: rgba(63, 167, 221, 0.15);
      border-color: rgba(63, 167, 221, 0.35); }
    .uiInventory > .pixelDoll .pdItem[data-quality='2'] {
      background-color: rgba(255, 235, 56, 0.15);
      border-color: rgba(255, 235, 56, 0.35); }
    .uiInventory > .pixelDoll .pdItem[data-quality='3'] {
      background-color: rgba(162, 78, 255, 0.15);
      border-color: rgba(162, 78, 255, 0.35); }
    .uiInventory > .pixelDoll .pdItem[data-quality='4'] {
      background-color: rgba(255, 105, 66, 0.15);
      border-color: rgba(255, 105, 66, 0.35); }
    .uiInventory > .pixelDoll .pdItem .icon {
      width: 100%;
      height: 100%;
      position: absolute;
      left: -4px;
      top: -4px; }
  .uiInventory > .pixelDoll .pdHeading {
    font-size: 24px;
    color: #3fa7dd;
    width: 150px;
    margin: 16px auto 8px auto; }
  .uiInventory > .pixelDoll .pdText {
    color: #fcfcfc;
    margin-bottom: 3px; }
  .uiInventory > .pixelDoll .pdCharacterFrame {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 50%;
    top: 50%;
    margin: -69px -56px;
    overflow: hidden; }
    .uiInventory > .pixelDoll .pdCharacterFrame .pdCharacterPreview {
      width: 32px;
      height: 32px;
      image-rendering: pixelated;
      zoom: 3.5; }

/**
 * FilterDoll
 */
.uiInventory > .filterDoll {
  position: absolute;
  width: 300px;
  height: 541px;
  margin-right: 16px;
  position: absolute;
  background-color: #3c3f4c;
  left: 16px;
  top: 16px;
  text-align: center;
  display: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  .uiInventory > .filterDoll .fdHeading {
    font-size: 24px;
    color: #3fa7dd;
    width: 150px;
    margin: 0 auto 18px auto; }
  .uiInventory > .filterDoll .fdButton {
    background-color: #505360;
    width: 100%;
    color: #fcfcfc;
    margin-top: 5px;
    height: 35px;
    line-height: 27px;
    cursor: pointer;
    box-sizing: border-box;
    border: 4px solid #505360; }
    .uiInventory > .filterDoll .fdButton[data-state="1"] {
      background-color: #42548d;
      border-color: #42548d; }
    .uiInventory > .filterDoll .fdButton[data-state="2"] {
      background-color: #802343;
      border-color: #802343; }
    .uiInventory > .filterDoll .fdButton:hover {
      background-color: #929398;
      border-color: #929398; }
  .uiInventory > .filterDoll .fdMiniButton {
    background-color: #505360;
    width: 35px;
    color: #fcfcfc;
    margin-top: 5px;
    height: 35px;
    line-height: 27px;
    cursor: pointer;
    box-sizing: border-box;
    border: 4px solid #505360;
    display: inline-block;
    vertical-align: top; }
    .uiInventory > .filterDoll .fdMiniButton:hover {
      background-color: #929398;
      border-color: #929398; }
  .uiInventory > .filterDoll .fdLevelInput {
    width: 220px;
    margin: 5px 5px 0;
    height: 35px;
    box-sizing: border-box;
    background: #373041;
    border: none;
    text-align: center;
    color: #fcfcfc;
    font-size: 1.1em;
    line-height: 35px;
    vertical-align: top; }

/**
 * PixelDollCompare
 */
.uiInventory > .pixelDollCompare {
  display: none;
  border: 4px solid #808496;
  position: absolute;
  margin-left: -4px;
  margin-top: -4px;
  background-color: rgba(49, 33, 54, 0.95);
  pointer-events: none;
  padding: 8px;
  color: #b8c9c9;
  text-align: center;
  width: 212px;
  line-height: 18px; }
  .uiInventory > .pixelDollCompare .name {
    margin-bottom: 8px; }
  .uiInventory > .pixelDollCompare .stats {
    margin-bottom: 8px;
    color: #b8c9c9; }
  .uiInventory > .pixelDollCompare .level {
    color: #779092; }
  .uiInventory > .pixelDollCompare .info {
    color: #4f6666;
    margin-bottom: 8px; }
  .uiInventory > .pixelDollCompare[data-quality="1"] {
    border-color: rgba(63, 167, 221, 0.35) !important; }
  .uiInventory > .pixelDollCompare[data-quality="2"] {
    border-color: rgba(255, 235, 56, 0.35) !important; }
  .uiInventory > .pixelDollCompare[data-quality="3"] {
    border-color: rgba(162, 78, 255, 0.35) !important; }
  .uiInventory > .pixelDollCompare[data-quality="4"] {
    border-color: rgba(255, 105, 66, 0.35) !important; }

/**
 * Item quality
 */
.q0 {
  color: #fcfcfc; }

.q1 {
  color: #3fa7dd; }

.q2 {
  color: #ffeb38; }

.q3 {
  color: #a24eff; }

.q4 {
  color: #ff6942; }
